spring:
  application:
    name: product
  datasource:
    password: root
    username: root
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/SpringCloud?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update


server:
  port: 8080
eureka:
  client:
    service-url:
      defaultZone : http://localhost:8761/eureka/



